In [2]:
import pandas as pd

In [22]:
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'],
    'Age': [25, 30, 25, 35, 30, 40],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles', 'San Francisco']
}

df = pd.DataFrame(data)
print("Dataframe")
print(df)

duplicates = df[df.duplicated()]

print("\nDuplicates")
print(duplicates)

Dataframe
      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2    Alice   25       New York
3  Charlie   35        Chicago
4      Bob   30    Los Angeles
5    David   40  San Francisco

Duplicates
    Name  Age         City
2  Alice   25     New York
4    Bob   30  Los Angeles

In [ ]:
# ind = []

# dup = df.duplicated()
# print(dup) 

# o = -1
# for i in dup:
#     o+=1
#     if i==True:
#         ind.append(o)
# print(ind) 

# for i in ind:
#     dup1 = df[df['Index']==i]
#     print(dup1)

In [ ]:
# dup_list = []
# dup = df.duplicated()
# print(dup)

# for i in dup:
#     dup_list.append(i)
# print(dup_list)
# print(type(dup_list[0]))
# for i in dup_list:
#     str(i)
# print(type(dup_list[0]))
# print(dup_list)

In [30]:
# dup_list = []
# dup = df.duplicated()

# for i in dup:
#     dup_list.append(i)

# for i in dup_list:
#     str(i)

In [ ]:
# df['DUP'] = dup_list
# print(df)
# dup_show = df[df["DUP"] == True]

# print(dup_show)